html {
  height: 100%;
}

body {
  overflow-x: hidden;
}


/*IPAD*/
@media only screen and (min-width: 1024px) and (max-width: 1366px)  and (orientation: portrait)  {
  .covidbanner.covidIpadpro {
    width: 45% !important;
    margin-top: 16% !important;
    min-height: 19em !important;
    top: 0% !important;
    left: unset !important;
  }
  .CovidSafeBadge {
    position: relative;
    left: 81% !important;
    top: -30% !important;
  }
  .ProductReview{
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .imgpad {
    width: 104%;
    position: absolute;
    top: 31%;
    left: -1%;
  }
  .nonmobile {
    display: none !important;
  }
  #ipad {
    display: block !important;
  }
  .covidbanner.covidIpad {
    margin-top: 30% !important;
    width: 48% !important;
    top: -26% !important;
    min-height: 19.2rem !important;
    left: unset !important;
  }
  .ProductReview {
    display: none;
  }
  .CovidSafeBadge {
    left: 80% !important;
  }
  i.fa.fa-check-circle.lidata {
    font-size: 14px !important;
  }
  .RP {
    display: none;
  }
  .RmD {
    line-height: 63px !important;
    top: -9% !important;
    height: 21% !important;
    text-align: center !important;
  }
  .fntSZ {
    width: 64% !important;
  }
}
/*All Phones*/

@media only screen and (min-width: 375px) and (min-height: 667px) {
  .covidbanner{
    margin-top: -38% !important;
    top: unset !important;
  }
}
@media only screen and (min-width: 414px) and (min-height: 736px) {
  .covidbanner{
    margin-top: -48% !important;
    top: unset !important;
  }
}

@media only screen and (min-width: 411px) and (min-height: 731px) {
  .covidbanner.phone411{
    margin-top: -31% !important;
  }
}
@media only screen and (min-width: 411px) and (min-height: 823px) {
  .covidbanner{
    margin-top: 20% !important;
    top: unset !important;
  }
}
@media only screen and (min-width: 360px) and (min-height: 640px) {
  .covidbanner.phone360{
    top: -75% !important;
  }
}
@media only screen and (min-width: 320px) and (min-height: 568px) {
  .covidbanner.phone320{
    top: -30em !important;
    height: 17em !important;
  }
}
@media only screen and (min-width: 375px) and (min-height: 812px) {
  .covidbanner{
    margin-top: -38% !important;
  }
}
@media only screen and (max-width: 428px) {
  .ipad {
    display: none;
  }
  .wdcovid {
    width: 23% !important;
  }
  .img_mobile_fix2u {
    background: url(img/banner1112-min.png) no-repeat !important;
    background-size: 100% auto !important;
  }
  .fusion-section-separator-spacer {
    left: 50%;
    transform: translateX(-50%);
  }
  .nonmobile {
    display: none !important;
  }
  #mobile {
    display: block !important;
  }
  .imgmob {
    position: relative;
    top: -6em;
    left: -1em;
    width: 109%;
  }

  .ProductReview {
    display: none;
  }
  .lidata {
    display: none !important;
  }
  .RP {
    display: block !important;
    font-family: Lato;
    height: auto;
    width: 232.812px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    position: relative;
    top: -2em;
    left: 0.5em;
  }
  .covidbanner {
    width: 81% !important;
    height: 18em !important;
    top: -75%;
    left: unset !important;
  }
  .covidLine {
    height: 56px !important;
    top: 0.5em !important;
    left: 1.1em !important;
    border-left: 4px solid #e26625 !important;
  }
  .fntSZ {
    left: 0.4em !important;
    width: 80% !important;
    top: 0em !important;
    font-size: 27px !important;
  }
  .CovidSafeBadge {
    left: -2em !important;
    top: -7.56em !important;
  }
  .RmD {
    width: 63%;
    top: -3.8em !important;
  }
  .whitelink {
    font-size: 17px !important;
  }
}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1401px) {
  /* insert styles here */
  .fntSZ{
    width: 51% !important;
  }
  .CovidSafeBadge {
    left: 79% !important;
    top: -22% !important;
  }
  i.fa.fa-check-circle.lidata{
    font-size: 19px !important;
    top: -3% !important;
    line-height: 45px !important;
  }
  .leftlidata{
    left: 4% !important;
    top: -19% !important;
  }
  .covidbanner{
    min-height: 27em !important;
    margin-top: -5% !important;
  }
  .RmD{
    top: -8% !important;
    line-height: 67px !important;
  }
  .ProductReview{
    top: -38em !important;
  }
  .JTOH{
    left: 13% !important
  }
}
/*Desktop Styles*/
.nonmobile {
  display: block;
}
.RP {
  display: none;
}
.img_fix2u {
  background: url(img/Banner-Dec-2020-min.png) 0 -8em no-repeat;
  background-size: 100% auto;
}
.imagecurve {
  position: relative;
  top: -12em;
}
.covidbanner {
  margin: 0 auto;
  border: 2px solid #fff;
  width: 30%;
  height: 18em;
  position: relative;
  top: -9%;
  margin-top: -34%;
  border-radius: 0;
  left: -22.5%;
  background: #ffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 5px 5px 10px 0px;
  z-index: 1;
}
.covidLine {
  position: relative;
  left: 0.2em;
  border-left: 3px solid #e26625;
  height: 73px;
  top: -1em;
}

.fntSZ {
  font-size: 33px;
  font-family: Circular-Pro-Bold;
  position: relative;
  left: 2%;
  width: 67%;
  font-weight: 800;
}
.CovidSafeBadge {
  position: relative;
  left: 81%;
  top: -32%;
}
.wdcovid {
  width: 19%;
}

.lidata {
  font-size: 14px !important;
  position: relative;
  top: -7em;
  font-weight: 800 !important;
  letter-spacing: normal;
}
.RmD {
  background-color: rgb(0, 122, 255);
  color: rgb(255, 255, 255);
  white-space: normal;
  line-height: 48px;
  font-weight: 700;
  font-size: 18px;
  font-family: Lato;
  box-shadow: rgb(0 0 0 / 15%) 5px 5px 10px 0px;
  padding-left: 35px;
  border-radius: 3px;
  padding-right: 35px;
  padding-top: 0px;
  backdrop-filter: none;
  filter: brightness(120%);
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  position: relative;
  top: -15%;
  width: 54%;
  height: 17%;
  text-align: center;
  margin: 0 auto;
}
.whitelink {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.ProductReview {
  position: relative;
  top: -101%;
  left: 56%;
  width: 100%;
}
.PrT {
  width: 40%;
}
.JTOH {
  position: relative;
  left: 11%;
}
.leftlidata {
  position: relative;
  left: 5%;
  top: 11%;
  font-family: "Lato";
}
